@import url("https://fonts.googleapis.com/css2?family=Acme&family=Poppins&display=swap");

.notification-bar {
  background-color: $secondary;
}

.coming_soon-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px 16px;
  color: #ffffff;
  text-align: center;
}

.message {
  font-weight: 500;
}

.learn-more {
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.15s;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  width: auto;
  justify-content: center;
  background: rgba($primary, 0.6);
  color: $white;
  border: 1px solid $secondary;
  padding: 0.4rem 1rem;
  margin: 0 1em;
  border-radius: 0.7rem;
  transition: ease-in 0.2s all;
}

.learn-more:hover {
  color: $white;
  background: $primary;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
