.branch_card {
  width: 100%;
  height: 100%;
  margin: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 512px) {
  .branch_card {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}

.branch_content {
  display: flex;
  flex: 2 2 auto;
  min-height: 256px;
  justify-content: center;
  align-items: center;
}

.branch_content .title-holder {
  color: $dark;
  text-align: center;
  margin-bottom: 24px;
}

.branch_content .title-holder h1 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 12px;
}

.branch_content .title-holder p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: $dark;
}

a.branch_link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .branch_content .title-holder {
    max-width: 80%;
  }
}

.branch_footer .cta {
  min-width: 64px;
  padding: 16px 24px;
  background: $secondary;
  border-radius: 50px;
  cursor: pointer;
  color: $white;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  transform: none;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.25, 0.315, 1.35),
    transform 0.1s linear;
}

.branch_footer .cta:hover {
  transform: translateY(-1px);
  box-shadow: 0px 10px 40px 0px $card-box-shadow-1;
}

.branch_footer {
  display: flex;
  flex-direction: row;
  padding: 48px;
  justify-content: center;
  color: $dark;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.card {
  position: relative;
  width: 390px;
  height: 400px;
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.poster {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.poster::before {
  content: "";
  position: absolute;
  bottom: -45%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
}

.card:hover .poster::before {
  bottom: 0;
}

.poster img {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
